@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    'header header'
    'aside content'
    'footer footer';
}

.header {
  grid-area: header
}

.content {
  grid-area: content
}

.aside {
  grid-area: aside
}

.footer {
  grid-area: footer
}